/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************
        Custom Styles
 ******************************/

body {
    font-family: "montserrat", arial, sans-serif;
	margin: 0 auto;
    background-color: #f1fff2;   
    min-width: 320px;
}

.site-header, .content {
    margin: 10px 10px auto;
}

.site-header {
    border-bottom: 1px none;
}

.logo img {
    width: 100%;
    margin: 0 auto;
}

/*****************
    navigation 
 *****************/

/* making a vertical navigation for MOBILE viewpoint */
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
  
.navigation ul li {
	border-bottom: 1px solid black;
	margin: 10px 0;
	text-align: center;
}

/* give the navigation a slowly filling effect  */

nav.navigation ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
    transition: all 1s;
}

nav.navigation ul li a:after {
    content: '';
    margin: 0;
    opacity: 0;
    text-align: left;
}
nav.navigation ul li a:hover {
    z-index: 1;
    color: #f1fff2;
	background-color: #128912;
}
nav.navigation ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/************************ Site Content **********************/

.banner img {
    width: 100%;
    height: auto;
}

.takeout p {
    width: auto;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 18px auto;
}

/* make the main content in one column */
.main-content {
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    text-align: center;
}

.main-content img {
    width: 100%;
    height: auto;
}

.main-content p {
    font-size: 12px;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    line-height: 20px;
    text-align: left;
}

.main-content .product h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 10px;
}

.main-content .product p {
    padding-top: 0;
    padding-bottom: 21px;
}

/********************* 
        footer 
**********************/
/* make footer info stack together */
footer {
    position: absolute;
    background-color: #BCFDC3;
    width: 100%;
    height: 200px;
    font-size: 10px;
    padding-top: 20px;
    min-width: 320px;
}

.footer {
    margin: 20px 10px auto;
    text-align: center;
    display: block;
    line-height: 20px;
}

.copyright {
    color: gray;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
}
/* using grid to make the footer navigation distribute equally */
.footer-nav ul {
    list-style-type: none;
	margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50%;
}

.footer-nav ul li {
    border-bottom: 1px none black;
    margin: 10px 0;
}

.footer-nav a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.contact-info {
    display: inline-block;
}

.contact-info img {
    width: 30%;
}

.top img {
    margin-top: 20px;
    width: 5%;
}

/*******************************
        CONTACT PAGE
 ******************************/
 /* beautify the contact forms */
 .form-wrap {
    background-color: rgba(192, 192, 192, 0.308);
    box-shadow: 0px 6px 8px 1px #333131;
    max-width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 35px;
}
/* make the h2 bigger */
.form-wrap h2 {
    font-size: 20PX;
    font-weight: bold;
}

#htmlForm ::placeholder {
    font-size: 16px;
    font-weight: lighter;
    color: #9b9b9b;
}

textarea,
input {
    display: block;
    width: 100%;
    padding: 3px;
    margin-top: 3px;
    border-style: hidden;
    font-size: 16px;
    border: 1px solid black;
    background: none;
}
textarea:focus,
input:focus{
    outline-color: #128912;
    border-color: #128912;
}

.form-wrap form>div {
    margin: 20px 0;
}

textarea {
    resize: none;
    height: 50px;
}

button {
    font-family: "montserrat", arial, sans-serif;
    background-color: black;
    margin-bottom: 3px;
    padding: 6px 16px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

/* center the GOOGLE map embed */
.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*******************************
        ABOUT PAGE
 ******************************/
.about-content {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.about img {
    width: 169px;
    margin: 20px auto;
}

.about h2 {
    font-size: 20px;
    margin-top: 20px;
}

.about p {
    font-size: 12px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    text-align: left;
}
/*******************************
        VIEWPOINTS
 ******************************/

 @media screen and  (min-width: 768px){

/* make the navigation line in a row */
    .content{
        padding-bottom: 300px;
    }

    .logo {
         max-width: 50%;
         margin: 0 auto;
    }

    .navigation ul {
         max-width: 50%;
         margin: 0 auto;
    }

    .site-header ul {
        display: flex;
    }
    
    .site-header ul li {
        border: 1px none;
        flex: 1;
    }

    .navigation li a:hover {
        border-radius: 10px;
    }

/* building a two columns layout for TABLET page */
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

/* flatten the footer  */
    footer {
        height: 150px;
    }

    .footer-nav ul {
        list-style-type: none;
        padding: 0;
    }
      
    .footer-nav ul li {
        border-bottom: 1px none black;
        text-align: center;
    }
    
    .footer-nav li a {
        color: black;
        text-decoration: none;
    }
    
    
    .contact-content {
        display: block;
        margin: 0 auto;
        max-width: 50%;
    }

    .about-content {
        margin: 0 auto;
        text-align: center;
    }
    

/*  wrap text around image in ABOUT page */
    .about h2 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }

    .about p {
        font-size: 16px;
        width: 100%;
        padding-top: 21px;
        line-height: 40px;
        text-align: left;
    }

    .about img {
        width: 234px;
        float: left;
        padding: 10px;
    }

 }

 @media screen and  (min-width: 1024px){
/* using grid template area to make every products layout properly */
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: 
            "i1 i2 i3"
            "i4 i5 i6"
            "i7 i7 i7"
            "i8 i8 i8";
    }
    .main-content .product:nth-child(1){
        grid-area: i1;
    }
    .main-content .product:nth-child(2){
        grid-area: i2;
    }
    .main-content .product:nth-child(3){
        grid-area: i3;
    }
    .main-content .product:nth-child(4){
        grid-area: i4;
    }
    .main-content .product:nth-child(5){
        grid-area: i5;
    }
    .main-content .product:nth-child(6){
        grid-area: i6;
    }
    .main-content .product:nth-child(7){
        grid-area: i7;
    }
    .main-content .product:nth-child(8){
        grid-area: i8;
    }

    .product:nth-child(7) {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .product:nth-child(7) .review-one {
        margin-right: 50px;
    }

    .product:nth-child(8) {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .product:nth-child(8) .review-two {
        margin-right: 50px;
    }

    .content{
        padding-bottom: 300px;
    }

    .about img {
        width: 336px;
        padding: 20px;
    }
 }

 /* animation for product images */

 @keyframes circle {
    0% {
        border-radius: 0%;
    }

    100% {
        border-radius: 50%;
    }
}

.product img:hover {
    animation-name: circle;
    animation-duration: 1s;
}

  